body {
  margin: 0;
}
#login {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  background: url("/images/MenuSelectscreen.png");
}
#alien {
  position: absolute;
  top: 170px;
  left: 240px;
  width: 109px;
  height: 174px;
  background: url("/images/MenuSelectscreen_AlienCard.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#alien:hover, #alien.selected {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  outline: none;
}
#alien:hover {
  cursor: pointer;
}
#dino {
  position: absolute;
  top: 170px;
  left: 450px;
  width: 109px;
  height: 174px;
  background: url("/images/MenuSelectscreen_DinoCard.png");
  border: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#dino:hover, #dino.selected {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  outline: none;
}
#dino:hover {
  cursor: pointer;
}
#name {
  position: absolute;
  top: 432px;
  left: 374px;
  background: transparent;
  border: none;
  height: 24px;
  width: 130px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}
#fight {
  position: absolute;
  top: 500px;
  left: 243px;
  width: 313px;
  height: 77px;
  background: url("/images/Menu_FightButtonUp.png");
  border: none;
}
#fight:hover {
  cursor: pointer;
  background: url("/images/Menu_FightButtonDown.png");
}
